#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --grey:  #282729;
  --white:  #E2E2E2;
  --orange: #CB401D;
  --dark-green: #213134;
  --dark-orange: #942F1F;
}

body {
  background-color: var(--grey);
  color: var(--white);
}

.primaryButton {
  color: var(--white);
  background-color: var(--orange);

}

.secondaryButton {
  color: var(--orange);
  background-color: var(--white);
  border: 10%  var(--orange)
}

